@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.h1-txtstyle,
.p-txtstyle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 1.563vw;
}

.h1-txtstyle {
  font-size: 11.250vw;
  line-height: 85%;
  /* or 122px */
  letter-spacing: 0.005em;
}

.p-txtstyle {
  font-size: 3.750vw;
  line-height: 5.078vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFB9C3;

  width: 100%;
  height: 56.250vw;
}

.txtbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0vw;

  width: 33.125vw;
  height: 33.125vw;
  left: 3.750vw;
  top: 11.953vw;
}

.imgbox {
  width: 56.250vw;
  height: 56.250vw;
  left: 40vw;
  top: 0vw;

  flex: none;
  order: 1;
  flex-grow: 0;
  /* margin: 0vw 3.125vw; */
}

.imgsize {
  width: 56.250vw;
  height: 56.250vw;
}

@media screen and (max-width: 720px) {
  .h1-txtstyle,
  .p-txtstyle {
    margin-bottom: 5.556vw;
  }

  .h1-txtstyle {
    font-size: 20vw;
    text-align: center;
  }

  .p-txtstyle {
    font-size: 6.667vw;
    line-height: 9.094vw;
  }

  .container {
    flex-direction: column;
    justify-content: flex-end;
    height: 211.111vw;
  }

  .txtbox {
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vw;
    left: 0vw;
    top: 5.556vw;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5.556vw 0vw;
  }

  .imgbox {
    width: 100vw;
    height: 100vw;
    left: 0vw;
    top: 111.111vw;
  }

  .imgsize {
    width: 100vw;
    height: 100vw;
  }
}
